<div class="container">

    <form class="row g-3 needs-validation" [formGroup]="form" (submit)="registerFirm()">
        <div class="col-md-4">
          <label for="firmname" class="form-label">Firm Name</label>
          <input type="text" class="form-control" id="firmname" required name="firmname" formControlName="firmname" (change)="generateID($event)">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="firm_id" class="form-label">Firm Id</label>
          <input type="text" class="form-control" id="firm_id" required name="firm_id" formControlName="firm_id" 
          (click)="changeFirmId($event)">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="firm_email" class="form-label">Firm Email</label>
          <input type="text" class="form-control" id="firm_email" required name="firm_email" formControlName="firm_email">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" required name="password" formControlName="password">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="confirm_pass" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="confirm_pass" required name="confirm_pass" formControlName="confirm_pass">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="firm_website" class="form-label">Firm Website</label>
          <input type="text" class="form-control" id="firm_website" required name="firm_website" formControlName="firm_website">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
          <label for="addressline1" class="form-label">Address Line 1</label>
          <input type="text" class="form-control" id="addressline1" required name="addressline1" formControlName="addressline1">
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-4">
            <label for="addressline2" class="form-label">Address Line 2</label>
            <input type="text" class="form-control" id="addressline2" required name="addressline2" formControlName="addressline2">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="city" class="form-label">City</label>
            <input type="text" class="form-control" id="city" required name="city" formControlName="city">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="zipcode" class="form-label">Zip/Postal Code</label>
            <input type="text" class="form-control" id="zipcode" required name="zipcode" formControlName="zipcode">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" required name="country" formControlName="country">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="office-phone" class="form-label">Office Phone</label>
            <input type="number" class="form-control" id="office-phone" name="officephone" required formControlName="officephone">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="mobile" class="form-label">Mobile</label>
            <input type="number" class="form-control" id="mobile" name="mobile" required formControlName="mobile">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="est_year" class="form-label">Est Year</label>
            <input type="number" class="form-control" id="est_year" name="est_year" required formControlName="est_year">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
        <div class="col-12">
          <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
      </form>
</div>