<div class="login-root fade-in">
    <div class="box-root flex-flex flex-direction--column auth-bg-image" style="min-height: 100vh;flex-grow: 1;">
        <div class="box-root padding-top--24 flex-flex flex-direction--column justify-content-center" style="flex-grow: 1; z-index: 9;">
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <div class="alert alert-danger fade-in" role="alert" *ngIf="message">
                            {{message}}<a routerLink="/auth/signin" class="alert-link">, Sign in</a>.
                          </div>
                        <span class="padding-bottom--15">Sign in to your account</span>
                        <form id="stripe-login" [formGroup]="form" (submit)="registerFirm()">
                        
                            <div class="field padding-bottom--24">
                                <label for="email">Email</label>
                                <input type="email" name="email" class="form-control"
                                formControlName="email" (change)="generateID($event)"
                                [ngClass]="{'is-invalid':!form.get('email').valid && form.get('email').touched, 'is-valid': form.get('email').valid && form.get('email').touched}">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="nnid">Firm Id</label>
                                <input type="text" name="nnid" class="form-control" formControlName="nnid"
                                [ngClass]="{'is-invalid':!form.get('nnid').valid && form.get('nnid').touched, 'is-valid': form.get('nnid').valid && form.get('nnid').touched}">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="firmname">Firm Name</label>
                                <input type="text" name="firmname" class="form-control"
                                formControlName="firmname"
                                [ngClass]="{'is-invalid':!form.get('firmname').valid && form.get('firmname').touched, 'is-valid': form.get('firmname').valid && form.get('firmname').touched}">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="password">Password</label>
                                <input type="password" name="password" class="form-control" formControlName="password"
                                [ngClass]="{'is-invalid':!form.get('password').valid && form.get('password').touched, 'is-valid': form.get('password').valid && form.get('password').touched}">
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="confirm_pass">Confirm Password</label>
                                <input type="password" name="confirm_pass" class="form-control" formControlName="confirm_pass"
                                [ngClass]="{'is-invalid':!form.get('confirm_pass').valid && form.get('confirm_pass').touched, 'is-valid': form.get('confirm_pass').valid && form.get('confirm_pass').touched}">
                            </div>
                            <!-- <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                                <label for="checkbox">
                                    <input type="checkbox" name="checkbox"> Stay signed in for a week
                                </label>
                            </div> -->
                            <div class="field padding-bottom--24">
                                <input type="submit" name="submit" value="Continue" style="background-color:#5469d4;">
                            </div>
                            <!-- <div class="field">
                                <a class="ssolink" href="#">Use single sign-on (Google) instead</a>
                            </div> -->
                        </form>
                    </div>
                </div>
                <div class="footer-link padding-top--24">
                    <span>Don't have an account? <a routerLink="/auth/login">Sign in</a></span>
                    <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                        <span><a href="#">© IMS</a></span>
                        <!-- <span><a href="#">Contact</a></span> -->
                        <span><a href="#">Privacy & terms</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>